.modal__background {
    position: fixed;
    overflow: auto;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color:#353d4b4f;
    transform: scale(0);
}

.modal__background.active {
    transform: scale(1);

}

.modal__window {
    display: table;
    width: 100%;
    height: 100%;
}
.modal__window_area {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
.modal__content {
    display: inline-block;
    width: 608px;
    height: 620px;
    background: white;
    border-radius:10px;
}
.modal__header {
    display: flex;
    justify-content: space-between;
    background:#353D4B;
    height: 56px;
    border-radius:10px 10px 0 0;
}
.modal__title {
    font-family: "Roboto", 
    sans-serif;
    font-size: 16px;
    line-height: 24px;
    color:white;

    padding: 16px;
    margin-left: 194px;
}

.modal__close {
    background: url(img/X.svg) no-repeat;
    padding: 10px;
    border:none;
    text-align: center;
    vertical-align: middle;

    margin: 18px 24px 18px 0;
}
                
.modal__content_input {
    margin-left: 64px;
    display: flex;
    flex-direction: column;

    text-align: left;
}

.input__dialog {
    margin-top: 28px;
}
.input__title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color:#818C99;
    margin-bottom: 4px;
}

.input {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding-left: 12px;
                            

    background-color:#F9FAFC;
    border:solid #EBECEF;
    border-width: 2px;
    border-radius: 6px;
    height: 36px;
    width: 480px;                 
}

.input::placeholder {color:#B8C1CC}
                              
.modal__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    margin-top: 56px;
    background:#F6F7F9;
    height: 60px;
    border-radius:0 0 10px 10px;
}
.btn__add {
    margin-right: 24px;
    margin-top: 12px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;

    width: 153px;
    height: 36px;
    border-radius: 6px;
    background-color:#4587ED;
    border: #4587ED;
}

.btn__add:disabled {
    opacity: 0.5;
}

.header {
    height: 56px;
    background-color: #353D4B;
}


.wrapper {

    display: flex;
    width: 100%;
}
.navbar {
    width: 280px;
    height: 100vh;
}

.content {
    background-color:#E5E5E5;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
.table__hat {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 36px;

}
.table__subhat {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
}
.table__subbtn {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 8px 32px 8px 32px;
    border-radius: 6px;
    background-color: #4587ED;
    color: white;
    border: none;
}
 
.table {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    display: table;
    align-items:center;
    vertical-align: center;

    border: 35px solid #E5E5E5;
    border-collapse: collapse; 
}

.table th {
    padding: 10px;
    padding-left: 32px;
    align-items:center;
    vertical-align: center;
    background: #FFFFFF;
    border: none;
    border-bottom: 5px solid #E5E5E5;
}

td.table__cell_body {
    vertical-align: middle;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.table td {
    padding: 5px;
    padding-left: 32px;
    align-items:center;
    vertical-align: center;
    background: #FFFFFF;
    border:none;
    border-bottom: 5px solid #E5E5E5;
}

.area__btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
    align-items: flex-end;
}
.change__btn {
    background: url(img/ButtonAction.svg) no-repeat;
    padding: 16px 16px 16px 16px;
    margin-right: 16px;
    border:none;
}
.trash__btn {
    background: url(img/ButtonDelete.svg) no-repeat;
    padding: 16px;
    border:none;    
}
        
.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(53, 61, 75, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-modal {
    width: 620px;
    border-radius: 10px;
    overflow: hidden;
    &__header {
        height: 56px;
        width: 100%;
        background: #353d4b;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__close {
        position: absolute;
        top: 18px;
        right: 24px;
        height: 20px;
        width: 20px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: #434b58;
        }
    }
    &__body {
        background-color: #ffffff;
        padding: 32px 64px;
        &_delete {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 168px;
            background-color: #ffffff;
        }
    }

    &__footer {
        height: 60px;
        background: #f6f7f9;
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}



