.modal {
    position: absolute;
    top: 50%;
}

.header {
    height: 56px;
    background-color: #353D4B;
}


.wrapper {

    display: flex;
    width: 100%;

    .navbar {
        width: 280px;
        height: auto;
    }

    .content {
        background-color:#E5E5E5;
        justify-content: space-around;
        width: 100%;

        .table__hat {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin: 36px;


            .table__subhat {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                font-weight: bold;
            }

            .table__subbtn {
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                padding: 8px 32px 8px 32px;
                border-radius: 6px;
                background-color: #4587ED;
                color: white;
                border: none;
            }
        }


        table {
            width: 94%;
            font-family: "Roboto", sans-serif;
            border-collapse: collapse;
            text-align: left;
            margin-left: 32px;
            margin-right: 32px;
            margin-bottom: 100%;
          }
          th {
            background-color:white;
            border:none;
            border-radius: 10px;
            font-weight: normal;
            color: black;
            font-weight: bold;
            padding: 10px 32px;
            border-bottom: 4px ;
          }
          td {
            background-color:white;
            border:none;
            border-radius: 10px;
            color: black;
            border-bottom: 4px;
            padding: 10px 32px;
            transition: .3s linear;
          }

          tr:hover td {
            color: #6699ff;
          }
        
       
    }
}

